<section class="container">
  <div class="row g-3 m-2">
    <article class="col-12 col-md-6 col-lg-4" *ngFor="let user of arrUsersFiltered">
      <!--Insert User-Card-->
      <app-user-card [userCard]="user"> </app-user-card>
    </article>
  <!--Pagination -->
    <div class="d-flex justify-content-center align-items-center">
      <a (click)="getUsersPage(1)" class="number"><<</a>
      <a (click)="getUsersPage(1)" class="number">1</a>
      <a (click)="getUsersPage(2)" class="number">2</a>
      <a (click)="getUsersPage(2)" class="number">>></a>
    </div>
  </div>
</section>

<footer>
<app-footer></app-footer>
</footer>


