<section class="container">
  <div class="row g-3 m-2">
    <article class="col-12 col-md-6 col-lg-4" *ngFor="let user of arrUsersFiltered">
      <!--Insert User-Card-->
      <app-user-card [userCard]="user"> </app-user-card>
    </article>
    <!--Page Navigation to view Users in Multiple Pages-->
    <div>
      <ul class="d-flex justify-content-center align-items-center pagination">
        <li><a href="#"><img class="pagination-image"  src="assets/BackArrow.GIF"></a></li>
        <li><a class="number"(click)="getUsersPage(1)">1</a></li>
        <li><a class="number" (click)="getUsersPage(2)">2</a></li>
        <li><a (click)="getUsersPage(2)"><img class="pagination-image" src="assets/NextArrow.GIF"></a></li>
      </ul>
    </div>
    </div>
</section>
