<div class="card mx-auto p-3 shadow" >
  <div class="d-flex justify-content-center">
    <figure>
      <img class="image" src="{{userCard?.image}}" alt="{{userCard?.first_name}}">
    </figure>
  </div>
  <div class="card-body">
    <div>
      <p class="username">
        {{ userCard?.first_name }} {{userCard.last_name}}
      </p>
    </div>
  </div>
   <div class="text-center">
    <a [routerLink]="['/viewuser', userCard?._id]">
      <img class="image-action" src="/assets/Magnifier.GIF" alt="details">
      View Details
    </a>
    <a [routerLink]="['/updateuser', userCard?._id]">
      <img class="image-action" src="/assets/Update.GIF" alt="update">
      Update
    </a>
    <a (click)="deleteUser(oneUser?._id)">
      <img class="image-action" src="/assets/Delete.GIF" alt="delete">
      Delete
    </a>
  </div>
</div>



