.image{
  width: 200px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  }

.card{
  background-color: lightgray;
  border: 1px solid black
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color: black;
}

.username{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.image-action{
  width: 30px;
  mix-blend-mode: multiply;
  padding: 5px;
}




