<div class="card p-3 shadow">
  <div class="card-body">
    <figure>
      <img class="image" src="{{userCard?.image}}" alt="{{userCard?.first_name}}">
    </figure>
    <div>
      <p class="username">
        {{ userCard?.first_name }} {{userCard.last_name}}
      </p>
    </div>
  </div>
  <div>
    <img class="image-action" src="/assets/Magnifier.GIF" alt="details" [routerLink]="['/viewuser', userCard?._id]">View Details
    <img class="image-action" src="/assets/Update.GIF" alt="update" [routerLink]="['/updateuser', userCard?._id]">Update
    <img class="image-action" src="/assets/Delete.GIF" alt="delete" >Delete
  </div>
</div>
