.image{
  width: 200px;
  border-radius: 50%;
  text-align: center;
  }

.card{
  background-color: lightgray;
  border: 1px solid black
}

.username{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.image-action{
  width: 20px;
  mix-blend-mode: multiply;
}




