<section class="card mt-3">
  <div class="bg-white rounded shadow-sm">
    <div class="row">
      <figure class="col-12 col-md-4">
        <img class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm user-img" src="{{oneUser?.image}}" alt="{{oneUser?.first_name}}">
      </figure>
      <div class="col-12 col-md-8">
        <p>First Name:{{oneUser?.first_name}}</p>
        <p>Last Name: {{oneUser?.last_name}}</p>
        <p>User Name: {{oneUser?.username}}</p>
        <p>Email: {{oneUser?.email}}</p>
        <!--Buttons to execute Actions -->
        <div>
          <button class="btn btn-danger m-1"><img class="btn-image" src="assets/Delete.GIF" alt="delete" (click)="deleteUser(oneUser?._id)" >Delete</button>
        </div>
        <button class="btn btn-danger m-1" [routerLink]="['/updateuser', oneUser?._id]"><img class="btn-image" src="assets/Update.GIF" alt="update">Update</button>
        <button class="btn btn-danger m-1" [routerLink]="['/home']"> <img class="btn-image" src="assets/Home.GIF" alt="home">Home</button>
      </div>
    </div>
  </div>
</section>











